.box {
    /*Nesse caso, usando a função steps, você informa o número de passos até a funcão iniciar*/
    -webkit-transition-timing-function: steps(4, start);
    -moz-transition-timing-function: steps(4, start);
    -o-transition-timing-function: steps(4, start);
    transition-timing-function: steps(4, start);
  }
  
  .box-2 {
    /*Nesse caso, usando a função steps, você informa o número de passos até a funcão finalizar*/
    -webkit-transition-timing-function: steps(4, end);
    -moz-transition-timing-function: steps(4, end);
    -o-transition-timing-function: steps(4, end);
    transition-timing-function: steps(4, end);
  }
  
  .box:hover, .box-2:hover {
    background-color: lightblue;
    cursor: pointer;
  }
  
  .uni {
    box-sizing: border-box;
    float: left;
    border: solid 1px black;
    width: 150px;
    height: 150px;
    background: goldenrod;
    margin-top: 20px;
    margin-left: 2px;
    -webkit-transition-duration: 3s;
    -moz-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
  }
  
  .wrap {
    width: 304px;
    overflow: hidden;
    margin: auto;
  }