div {
    width: 100px;
    height: 50px;
    background: red;
    color: white;
    font-weight: bold;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
  }
  
  /* For Safari 3.1 to 6.0 */
  #div1 {-webkit-transition-timing-function: linear;}
  #div2 {-webkit-transition-timing-function: ease;}
  #div3 {-webkit-transition-timing-function: ease-in;}
  #div4 {-webkit-transition-timing-function: ease-out;}
  #div5 {-webkit-transition-timing-function: ease-in-out;}
  
  /* Standard syntax */
  #div1 {transition-timing-function: linear;}
  #div2 {transition-timing-function: ease;}
  #div3 {transition-timing-function: ease-in;}
  #div4 {transition-timing-function: ease-out;}
  #div5 {transition-timing-function: ease-in-out;}
  
  div:hover {
    width: 300px;
  }