.box {
  width: 150px;
  height: 150px;
  background: red;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-delay: -1s;
  -moz-transition-delay: -1s;
  -o-transition-delay: -1s;
  transition-delay: -1s;
}

.box:hover {
  background-color: blue;
  cursor: pointer;
}

.uni {
  -webkit-transition-duration: 3s;
 -moz-transition-duration: 3s;
 -o-transition-duration: 3s;
 transition-duration: 3s;
 -webkit-transition-property: background-color;
 -moz-transition-property: background-color;
 -o-transition-property: background-color;
 transition-property: background-color;
}